.sb-soundplayer-play-btn {
    display: inline-block;
    background-color: transparent;
    color: var(--sb-play-btn-color);
    font-size: 1em;
    line-height: 0;
    padding: 1rem;
    margin: 0;
    height: auto;
    vertical-align: middle;
    border-radius: 3px;
    text-decoration: none;
    border: 0;
    box-shadow: inset 0 0 0 3px var(--sb-play-btn-color);
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-appearance: none;
}
.sb-soundplayer-play-icon {
    width: 1em;
    height: 1em;
    position: relative;
    vertical-align: middle;
}
.sb-soundplayer-play-btn:focus {

}
.sb-soundplayer-playbtn:active {

}
.sb-soundplayer-play-btn:hover {

}

:root {
    --sb-play-btn-color: #FC561E;
}
