.sb-soundplayer-btn {
  display: inline-block;
  background-color: transparent;
  color: var(--sb-btn-color);
  font-size: 1em;
  padding: 1rem;
  margin: 0;
  height: auto;
  vertical-align: middle;
  border-radius: 3px;
  text-decoration: none;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: transform, box-shadow, .05s ease;
  box-sizing: border-box;
  -webkit-appearance: none;
}
.sb-soundplayer-btn:hover {
  transform: scale(1.0625);
}
.sb-soundplayer-btn:focus {
  transform: scale(.9375);
}
.sb-soundplayer-btn:active {
  box-shadow: inset 0 0 0 2px var(--sb-btn-color);
}
.sb-soundplayer-btn:hover,
.sb-soundplayer-btn:focus {
  box-shadow: none;
}

:root {
  --sb-btn-color: #FC561E;
}
