@import 'basscss';
@import 'highlight.js/styles/github.css';
@import '../styles/icons.css';
@import '../styles/progress.css';
@import '../styles/cover.css';

.b2 {
    border-width: 2px;
}

header {
    background-image: linear-gradient(45deg, var(--teal), rgba(0, 255, 127,.7));
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}

.social-buttons {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

:root {
    --font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --container-width: 820px;
    --yellow: rgba(255, 220, 0, 0.45);
    --orange: #FC561E;
    --button-line-height: 1;
}
