<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example of ReactSoundPlayer Components</title>

    <style>
    * { margin: 0; padding: 0; }
    body {
        font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding: 20px;
    }
    </style>

    <link rel="stylesheet" type="text/css" href="../../styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="../../styles/progress.css">
    <link rel="stylesheet" type="text/css" href="../../styles/cover.css">
</head>
<body>

    <script src="./bundle.js" async defer></script>
</body>
</html>
